body {
  font-size: 14px;
  background: white;
  color: black;
}

#page-popup {
  width: 160px;
  text-align: center;
}

h1, h2, h3 {
  color: #1478A5;
}

h1, h2 {
  text-align: left;
}

h1 {
  letter-spacing: 0.5px;
  font-weight: bold;
}

a {
  display: block;
  color: #1478A5;
  line-height: 1.5rem;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.margin-bottom-0px {
  margin-bottom: 0;
}

.margin-top-0px {
  margin-top: 0;
}

.link {
  color: #1478A5;
  text-decoration: underline;
  cursor: pointer;
}

.link--secondary {
  font-size: 0.75em;
  color: gray;
}

.link--secondary:hover {
  color: black;
  text-decoration: underline;
}

#logo {
  width: 64px;
  margin-bottom: 1rem;
}

nav {
  position: fixed;
  width: 25%;
  left: 0;
  top: 1rem;
  text-align: center;
}

section {
  padding-left: 25%;
}

#mins {
  width: 50px;
  line-height: 2em;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  background: #1478A5;
  color: white;
  border: none;
  border-radius: 50%;
  outline: none;
  transition: 0.5s;
}

#mins:focus {
  transform: scaleX(1.5) scaleY(1.5);
  box-shadow: 0 0 0 10px white;
}

button {
  cursor: pointer;
}

.spinner {
  width: 30px;
  background: none;
  outline: none;
  border: none;
  color: lightgray;
  font-size: 1.5rem;
  font-weight: bold;
  transition: 0.3s;
}

.spinner:hover {
  color: #1478A5;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

p,
label {
  display: block;
  line-height: 1.2rem;
  letter-spacing: 0.4px;
}

#mins-text {
  /*color: $colorMain;*/
  margin-top: 0;
  line-height: 1.5rem;
}

#open {
  font-size: 0.8rem;
  line-height: 2rem;
  background: transparent;
  color: white;
  border: 0;
  outline: none;
  transition: 0.2s;
  min-width: 50%;
}

#open:hover {
  transform: scaleX(1.1) scaleY(1.1);
}

#open:focus {
  transform: scaleX(1) scaleY(1);
}

#open div {
  background: #1478A5;
  padding: 0 1rem;
}

#options-container {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-top: 1rem;
}

#options {
  font-size: 1em;
}

/*
    Options
    =======
*/
ul {
  list-style: none;
  padding-left: 30px;
}

#folder-list {
  padding: 0;
}

#folder-list label {
  position: relative;
  line-height: 2em;
  text-align: left;
  margin: 0 auto;
  padding-left: 2rem;
  cursor: pointer;
}

#folder-list label:hover {
  background: #1478A5;
  color: white;
}

#folder-list input {
  position: absolute;
  margin-top: 7px;
  left: 12px;
}

.status {
  font-size: 0.8em;
}

.status--static {
  color: lightgray;
}

.status--static:hover {
  color: #1478A5;
}

.status--count {
  font-weight: bold;
  background: #1478A5;
  color: white;
  padding: 0.25em 0.5em;
  border-radius: 12px;
  min-width: 24px;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
}

input[type="radio"] {
  float: left;
  margin-right: 8px;
}
