$colorBg: #212229;
$colorMain: #ffd75c;

$colorMain: #1478A5;
$colorAccent: white;
$colorBg: white;
$colorStatusLight: lightgray;
$colorActionSecondary: gray;

body {
  // width: 270px;
  // padding: 30px;
  font-size: 14px;
  background: $colorBg;
  color: black;
  // text-align: center;
}

#page-popup {
  width: 160px;
  text-align: center;
}

h1, h2, h3 {
  color: $colorMain;
}

h1, h2 {
  text-align: left;
}

h1 {
  letter-spacing: 0.5px;
  font-weight: bold;
}

h2 {
  // margin-top: 0;
}

h3 {
  // margin-bottom: 0;
}

a {
  display: block;
  color: $colorMain;
  line-height: 1.5rem;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.margin-bottom-0px {
  margin-bottom: 0;
}
.margin-top-0px {
  margin-top: 0;
}

.action {
  color: $colorMain;
  text-decoration: underline;
  cursor: pointer;
}

.action--secondary {
  font-size: 0.75em;
  color: $colorActionSecondary;
  &:hover {
    color: black;
    text-decoration: underline;
  }
}

#logo {
  width: 64px;
  margin-bottom: 1rem;
}

nav {
  position: fixed;
  width: 25%;
  left: 0;
  top: 1rem;
  text-align: center;
}

section {
  padding-left: 25%;
}

#mins {
  width: 50px;
  line-height: 2em;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;

  background: $colorMain;
  color: $colorBg;
  border: none;
  border-radius: 50%;
  outline: none;

  transition: 0.5s;

  &:focus {
    transform: scaleX(1.5) scaleY(1.5);
    box-shadow: 0 0 0 10px $colorBg;
  }
}

button {
  cursor: pointer;
}

.spinner {
  width: 30px;
  background: none;
  outline: none;
  border: none;
  color: $colorStatusLight;
  font-size: 1.5rem;
  font-weight: bold;
  transition: 0.3s;
  &:hover {
    color: $colorMain;
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0;
}

p,
label {
  display: block;
  line-height: 1.2rem;
  letter-spacing: 0.4px;
}



#mins-text {
  /*color: $colorMain;*/
  margin-top: 0;
  line-height: 1.5rem;
}

#open {
  font-size: 0.8rem;
  line-height: 2rem;
  background: transparent;
  color: $colorBg;
  border: 0;
  outline: none;
  transition: 0.2s;
  min-width: 50%;
  &:hover {
    transform: scaleX(1.1) scaleY(1.1);
  }
  &:focus {
    transform: scaleX(1) scaleY(1);
  }

  div {
    background: $colorMain;
    padding: 0 1rem;
  }
}


#options-container {
  position: absolute;
  bottom:0;
  right:0;
  margin-top: 1rem;
}

#options {
  font-size: 1em;
}



/*
    Options
    =======
*/


ul {
  list-style: none;
  padding-left: 30px;
}

#folder-list {
  padding: 0;
  label {
    position: relative;
    line-height: 2em;
    text-align: left;
    margin: 0 auto;
    padding-left: 2rem;
    cursor: pointer;
    &:hover {
      background: $colorMain;
      color: $colorAccent;
    }
  }
  input {
    position: absolute;
    margin-top: 7px;
    left: 12px;
  }
  span {}
}

.status {
  font-size: 0.8em;
}

.status--static {
  color: $colorStatusLight;
  &:hover {
    color: $colorMain;
  }
}

.status--count {
  font-weight: bold;
  background: $colorMain;
  color: $colorBg;
  padding: 0.25em 0.5em;
  border-radius: 12px;
  min-width: 24px;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
}

#status-folders-bookmark-count {
}

input[type="radio"] {
  float: left;
  margin-right: 8px;
}